h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 750;
  position: relative;
  left: 5px;
  top: 10px;
  text-decoration: underline;
  text-align: center;
}

h2 {
  position: relative;
  left: 40px;
  top: 00px;
  font-size: 20px;
}

.form-control {
  position: relative;
  left: -10px;
  top: 40px;
  width: 70%;
}
.search-button {
  max-width: 70px;
  position: relative;
  left: px;
  top: 40px;
}
.current-location-button {
  max-width: 30px;
}

.weatherApp-border {
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  max-width: 800px;
  max-height: 400px;
  background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}

.col-5 {
  position: relative;
  left: 25px;
  top: 30px;
}

.btn-primary {
  position: relative;
  left: 245px;
  top: -38px;
  width: 35%;
}

.btn-success {
  position: relative;
  left: 390px;
  top: -46px;
  width: 15%;
}

.cityName {
  position: relative;
  left: 35px;
  top: 50px;
  font-size: 65px;
  font-weight: 1000;
}

.sm-2 {
  position: relative;
  left: 175px;
  top: -80px;
  font-size: 19px;
  font-weight: 500;
}

.CurrentTemperture {
  position: relative;
  left: 250px;
  top: -55px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.celfarNumber {
  font-size: 75px;
  position: relative;
  left: 290px;
  top: -60px;
}

.unit {
  font-size: 50px;
  font-weight: 800;
  position: relative;
  left: 560px;
  top: -355px;
}

ul {
  font-size: 25px;
  font-weight: 750;
  position: relative;
  left: 420px;
  top: -140px;
}

.sm-6 {
  position: relative;
  width: 10px;
  height: 10px;
}

.form-control {
  position: relative;
  left: 15px;
  top: 0px;
}

.fiveDayOutlook {
  position: relative;
  top: -220px;
  font-weight: 600;
}

.Day-1 {
  position: relative;
  left: 20px;
  top: 30px;
}

.weatherResultEmojiDayOne {
  font-size: 25px;
  position: relative;
  left: 20px;
}

.Day-2 {
  position: relative;
  left: 20px;
  top: 30px;
}

.weatherResultEmojiDayTwo {
  font-size: 25px;
  position: relative;
  left: 20px;
}

.Day-3 {
  position: relative;
  left: 40px;
  top: 30px;
}

.weatherResultEmojiDayThree {
  font-size: 25px;
  position: relative;
  left: 20px;
}

.Day-4 {
  position: relative;
  left: 90px;
  top: 30px;
}

.weatherResultEmojiDayFour {
  font-size: 25px;
  position: relative;
  left: 20px;
}

.Day-5 {
  position: relative;
  left: 120px;
  top: 30px;
}

.weatherResultEmojiDayFive {
  font-size: 25px;
  position: relative;
  left: 20px;
}

footer {
  text-align: center;
  font-size: 10px;
  position: relative;
  top: -120px;
}
