h1 {
  font-size: 50px;
  font-weight: 800;
  color: green;
  text-align: center;
}

.weatherAppBorder {
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  max-width: 750px;
  max-height: 750px;
}
