h1 {
  font-size: 50px;
  font-weight: 800;
  color: navy;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: navy;
  text-align: left;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  color: navy;
  text-align: left;
}

.weatherAppBorder {
  border: 10px solid;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  max-width: 650px;
  max-height: 600px;
}
